* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #dceafb;
    color: #27dcc4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}

.container {
    background-color: #f9def1;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(29, 39, 35, 0.1);
    padding: 20px 40px;
    max-width: 450px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: rgb(124, 3, 140);
}

label {
    font-size: 16px;
    display: block;
    margin-bottom: 15px;
    color: rgb(71, 42, 64);
    font-weight: 600;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(13, 95, 125);
    border-radius: 6px;
    font-size: 16px;
    outline: none;
}

button {
    background-color: rgb(11, 56, 237);
    color: #fafbee;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
    font-weight: bold;
}

button:hover {
    background-color: rgb(230, 168, 230);
}

#result {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    color: rgb(91, 60, 4);
    font-weight: 750;
}


@media (max-width: 768px) {
    #container {
        padding: 20px;
        max-width: 100%;
    }

    h1 {
        font-size: 20px;
    }

    label {
        font-size: 14px;
    }

    input, button {
        font-size: 14px;
    }

    #result {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }

    label {
        font-size: 13px;
    }

    input, button {
        font-size: 12px;
    }

    #result {
        font-size: 14px;
    }
}